<div class="container vh-100">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="text-center">¡Bienvenido!</h4>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input placeholder="@example.com" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Contraseña</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="col-12 p-0">
                        <button class="btn btn-primary w-100">
                            Ingresar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
